body{
  background-color: #fff;
}

.output{
  background-color: #fff;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.output>div{
  background-color: #999bd7;
  color: white;
  display: block;
  padding: 5px 15px;
  margin: 10px;
  font-size: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 4%)
}

.control_unit{
  margin: 15px 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 2px;
  background: #ecedfb;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #999bd7;
  border-radius: 2px;
}
.form_area{
  font-size: 10px;
  background-color: #ecedfb;
  border: none;
  padding: 8px;
  width: calc(100% - 168px);
  border-radius: 50px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 10%);
}
.form_area:focus{
  outline: none;
}
.memo_btn{
  font-size: 10px;
  background: #3b3f98;
  background: linear-gradient(to right, #3b3f98 1%,#646796 100%);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50px;
  width: 70px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 10%);
}
.reset_btn{
  font-size: 10px;
  background: #c4c4c4;
  background: linear-gradient(to right, #c4c4c4 1%,#d6d6d6 100%);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50px;
  width: 70px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 10%);
}
